

<div class="banner-home">
  <h1 id="banner-typed-text"class="name"></h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>

  <div class="flag d-flex justify-content-center">
    <div class="flag-french">
        <%= link_to "/", class: "without-decoration" do %>
              <%= image_tag "fr.svg", class: "icone-flag", data: { turbolinks: false } %>
            <% end %>
    </div>
    <div class="flag-england pl-3">
        <%= link_to "/en", class: "without-decoration" do %>
              <%= image_tag "gb.svg", class: "icone-flag", data: { turbolinks: false } %>
            <% end %>
    </div>
  </div>
</div>

<div class="container-home">
  <div class="center-text">
<!---------------------Title profil------------->
    <div class="profile-title">


      <h2 id="title-h2"><a id="profile-typed-text"name="profile"></a></h2>
    </div>
      <p> <%= t('title') %></p>
      <hr id="border">
<!---------------------About me avatar et details------------->
    <div class="profile-details">
      <div class="about-me d-flex flex-column justify-content-between">
        <div class="title-about-me">
          <h3 id="title-h3"> <%= t('who') %></h3>
        </div>
        <div class="container-description">
          <p class="text-description"><%= t('bio') %></p>
        </div>
      </div>
      <div class="avatar-profile">
        <%= image_tag "did-avatar.jpg", class: "avatar", alt: "avatar" %>
      </div>

      <div class="title-details-me d-flex flex-column justify-content-center">
        <div class="title-details">
          <!-- <h3 id="title-h3">Un petit plus</h3> -->
        </div>
          <div class="details-me">
            <div class="name-profile">
            <p>
              <strong><%= t('hobby') %></strong>
              <br>
              Basket, surf & ski.</p>
            </div>

            <div class="age-profile">
              <p>
              <strong> <%= t('age') %></strong>
              <br>
              <%= t('year') %></p>
            </div>

            <div class="location-profile">
              <p>
              <strong> <%= t('location') %></strong>
              <br>
              France, Lille</p>
            </div>
            <div class="socialnetwork">
            <ul class="list-unstyled list-inline text-center">
              <!-- <li class="list-inline-item ">
                <a class="btn-floating btn-fb mx-1 link-without-style" href="https://www.facebook.com/didou.av" target="_blank">
                  <i class="fab fa-facebook-f"> </i>
                </a>
              </li> -->
              <li class="list-inline-item">
                <a class="btn-floating btn-li mx-1 link-without-style" href="https://www.linkedin.com/in/amandyne-verdonck-4125b750/" target="_blank">
                  <i class="fab fa-linkedin-in"> </i>
                </a>
              </li>
              <li class="list-inline-item ">
                <a class="btn-floating btn-fb mx-1 link-without-style" href="https://github.com/Amandynev" target="_blank">
               <i class="fab fa-github"></i>
                </a>
              </li>
            </ul>
            </div>
          </div>
        </div>
     </div>
  </div>
</div>

<div class="container-experience">

 <!---------------------Title experience------------->
    <div class="experience-title center-text big-title">
      <h2 id="title-h2"><a id="experience-typed-text" name="experience"></a></h2>

    </div>
      <hr id="border">

  <!---------------------education------------->

  <h3 id="title-h3-carrer"><%= t('abroad') %></h3>

    <div class="carreer row">
      <div class="year col-md-4">
            <h4 class="pb-4"><strong>ACCESS INN PATTAYA</strong></h4>
            <p><%= t('year_access') %></p>
      </div>
      <div class="text-description col-md-8">
        <div class="pb-4"><h4><%= t('position_access') %></h4>
        </div>
          <ul>
            <li><i class="far fa-hand-point-right"></i> <span class="word-one"><%= t('hotel') %></span> : <%= t('hotel_text') %></li>
                <li class="pl-2"> <span class="word"> Communication</span>: <%= t('hotel_com') %> </li>
             <li>
                 <li class="pl-3"><span class="word"><%= t('social_net') %></span> :facebook, instagram, twitter, tripadvisor, google business,...</li>
                 <li class="pl-3"> <span class="word"><%= t('graphic') %> </span>  </li>
                 <li class="pl-3"> <span class="word"><%= t('news') %></span> </li>
                 <li class="pl-3"> <span class="word"><%= t('com_intern') %></span> : <%= t('com_intern_text') %></li>
                 <li class="pl-3"> <span class="word"><%= t('pub') %> </span>  : <%= t('pub_text') %></li>
                 <li class="pl-3"> <span class="word"><%= t('event') %> </span> </li>
                <li class="pl-2"> <span class="word"><%= t('agences') %> </span> : booking.com, expedia, agoda, airbnb ...
                <li class="pl-2">  <span class="word"><%= t('profil_hotel') %> </span> <%= t('profil_hotel_text') %></li>
              </li>
            <li><i class="far fa-hand-point-right"></i> <span class="word-one">Restaurant/bar</span> : <%= t('resto_bar') %></li>
          </ul>
        <span id="icone-color"><i id="icone-color" class="fas fa-map-marker-alt"></i>  Pattaya,<%= t('thailand') %></span>
        <hr>
        <hr>
      </div>
    </div>

    <h4 id="title-h3-carrer"><%= t('france') %></h4>

    <div class="carreer row">
      <div class="year col-md-4">
            <h4 class="pb-4"><strong>EVOLUTION 2 ENTREPRISES</strong></h4>
            <p><%= t('year_evo') %></p>
      </div>
      <div class="text-description col-md-8">
        <div class="pb-4"><h4><%= t('position_evo') %></h4>
        </div>
        <p>
          <ul>
        <li> <span class="word">Communication</span> : <%= t('com_evo') %> :</li>
        <li> <span class="word"><%= t('dev_evo') %></span> <%= t('social_evo') %>: YouTube Chanel / Instagram / Twitter / Facebook ...)</li>
        <li> <span class="word"><%= t('develop') %></span> <%= t('website') %></li>
        <li> <span class="word"><%= t('marketing') %> </li>
        <li> <span class="word"><%= t('dev_event') %> </span> Freeride world tour La Rosière 2016</li>
        <li> <span class="word"><%= t('resp_gard') %></span>: <%= t('text_gard') %></li>
        <li> <span class="word"><%= t('resp_activi') %></span></span>  : <%= t('text_activ') %></li>
        <li> <span class="word"><%= t('transports') %></span></li>
          </ul>
        </p>
      <span id="icone-color"><i id="icone-color" class="fas fa-map-marker-alt"></i>  La Rosière, Savoie</span>
        <hr>
        <hr>
      </div>
    </div>

     <div class="carreer row">
    <div class="year col-md-4">
          <!-- <h4 class="pb-4"> <strong>EVOLUTION 2 ENTREPRISES</strong></h4> -->
          <p><%= t('year_evo_tignes') %></p>
    </div>
    <div class="text-description col-md-8">
      <div class="pb-4"><h4><%= t('position_evo_tignes') %></h4>
      </div>
      <ul>
        <li><span class="word"><%= t('resp_gard') %></span> <%= t('resp_gard_tignes') %></li>
        <li><span class="word"><%= t('sales_assis') %></span>: <%= t('sales_text') %>
        <li></li>
      </ul>
      <span id="icone-color"><i id="icone-color" class="fas fa-map-marker-alt"></i>  Tignes, Savoie</span>
      <hr>
      <hr>
    </div>
  </div>

  <div class="carreer row">
    <div class="year col-md-4">
          <h4 class="pb-4"><strong>AGENCE DES CIMES</strong></h4>
          <p><%= t('year_cimes') %></p>
    </div>
    <div class="text-description col-md-8">
      <div class="pb-4"><h4><%= t('planning') %></h4>
      </div>
      <ul>
        <p><%= t('planning_text') %>
          <li class="pl-3"><span class="word"><%= t('package_sales') %></span> : <%= t('package_sales_text') %></li>
          <li class="pl-3"><span class="word"><%= t('allotments') %> </span> <%= t('allotments_text') %></li>
        </p>
        <li><%= t('welcoming') %></li>
        <li><span class="word"><%= t('invoicing') %></span> : <%= t('invoicing_text')%></li>
      </ul>
      <span id="icone-color"><i id="icone-color" class="fas fa-map-marker-alt"></i>  Tignes, Savoie</span>
      <hr>
      <hr>
    </div>
  </div>

   <div class="carreer row">
    <div class="year col-md-4">
          <h4 class="pb-4"> <strong>VACHERAND IMMOBILIER</strong></h4>
          <p><%= t('year_vach') %></p>
    </div>
    <div class="text-description col-md-8">
      <div class="pb-4"><h4><%= t('position_vach') %></h4>
      </div>
      <p><%= t('text_vach') %>
        <br>
         <%= t('text_vach_one') %>
         <br>
         <%= t('text_vach_two') %>
      <p>
      <span id="icone-color"><i id="icone-color" class="fas fa-map-marker-alt"></i>  Lille, Hauts de France</span>
      <hr>
      <hr>
    </div>
  </div>

    <div class="carreer row">
    <div class="year col-md-4">
          <h4 class="pb-4"> <strong> HAPPY IMMO</strong></h4>
          <p><%= t('year_happy') %></p>
    </div>
    <div class="text-description col-md-8">
      <div class="pb-4"><h4><%= t('position_happy') %></h4>
      </div>
      <p> <%= t('position_text') %>
      <p>
      <span id="icone-color"><i id="icone-color" class="fas fa-map-marker-alt"></i>  Villeneuve d'Ascq, Hauts de France</span>
      <hr>
      <hr>
    </div>
  </div>

   <div class="carreer row">
    <div class="year col-md-4">
          <h4 class="pb-4"> <strong>VACHERAND IMMOBILIER</strong></h4>
          <p><%= t('year_vach_two') %></p>
    </div>
    <div class="text-description col-md-8">
      <div class="pb-4"><h4> <%= t('position_vach_two') %></h4>
      </div>
      <p><%= t('position_vach_two_text') %>
      <p>
      <span id="icone-color"><i id="icone-color" class="fas fa-map-marker-alt"></i>  Lille, Hauts de France</span>
      <hr>
      <hr>
    </div>
  </div>
  <!---------------------carreer -------------------------->
<hr id="border">
<h3 id="title-h3-carrer"><%= t('education') %></h3>
   <div class="carreer row">
    <div class="year col-md-4">
          <h4 class="pb-4"> <strong>LE WAGON </strong></h4>
          <p><%= t('year_wagon') %></p>
    </div>
    <div class="text-description col-md-8">
      <div class="pb-4"><h4><%= t('position_wagon') %> </h4>
      </div>
      <p> <%= t('position_wagon_text') %></p>
      <span id="icone-color"><i id="icone-color" class="fas fa-map-marker-alt"></i>  Lille, Hauts de France</span>
      <hr>
      <hr>
    </div>
  </div>

   <div class="carreer row">
    <div class="year col-md-4">
          <h4 class="pb-4"><strong>ISEFAC</strong></h4>
          <p><%= t('year_isefac') %></p>
    </div>
    <div class="text-description col-md-8">
      <div class="pb-4"><h4><%= t('position_isefac') %></h4>
      </div>
      <p><%= t('position_isefac_text') %><p>
      <span id="icone-color"><i id="icone-color" class="fas fa-map-marker-alt"></i>  Lille, Hauts de France</span>
      <hr>
      <hr>
    </div>
  </div>

   <div class="carreer row">
    <div class="year col-md-4">
          <h4 class="pb-4"> <strong>UNIVERTSITE CATHOLIQUE DE LILLE</strong></h4>
          <p><%= t('year_lacatho') %></p>
    </div>
    <div class="text-description col-md-8">
      <div class="pb-4"><h4><%= t('position_lacatho') %></h4>
      </div>
      <p><p>
      <span id="icone-color"><i id="icone-color" class="fas fa-map-marker-alt"></i>  Lille, Hauts de France</span>
      <hr>
      <hr>
    </div>
  </div>

  <div class="carreer row">
    <div class="year col-md-4">
          <h4 class="pb-4"><strong>LYCÉE SAINT REMI</strong></h4>
          <p><%= t('year_remi') %></p>
    </div>
    <div class="text-description col-md-8">
       <div class="pb-4"><h4><%= t('position_remi') %></h4>
    </div>
      <p><%= t('position_remi_text') %><p>
      <span id="icone-color"><i id="icone-color" class="fas fa-map-marker-alt"></i>  Roubaix, Hauts de France</span>
      <hr>
      <hr>
    </div>
  </div>

   <div class="carreer row">
    <div class="year col-md-4">
          <h4 class="pb-4"><strong>UFCV FORMATION</strong></h4>
          <p><%= t('year_ufcv') %></p>
    </div>
    <div class="text-description col-md-8">
      <div class="pb-4"><h4>BAFA animatrice</h4>
      </div>
      <p><%= t('position_ufcv') %><p>
    <span id="icone-color"><i id="icone-color" class="fas fa-map-marker-alt"></i>  Croix et Wasquehal, Hauts de France</span>
      <hr>
      <hr>
    </div>
  </div>

</div>

<!---------------------Skills -------------------------->
<div class="container-home">
  <div class="center-text">
    <h2 id="title-h2"><a id="skill-typed-text"name="skills"></a></h2>
  </div>
<hr id="border">

<!---------------------Skills -------------------------->
<div class="row">
  <div class="col-md-6 mt-5">
      <% @skills.each do |skill| %>
    <div class="skills d-flex justify-content-between ">
      <%= skill.name %>
    <div class="stars">
      <% if skill.name == "CSS(3)"%>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i class="far fa-star"></i></span>
      <% elsif skill.name == "HTML(5)"%>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i class="far fa-star"></i></span>
      <% elsif skill.name == "Photoshop"%>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i class="far fa-star"></i></span>
      <% elsif skill.name == "Macintosh"%>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i class="far fa-star"></i></span>
      <% elsif skill.name == "Macintosh"%>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i class="far fa-star"></i></span>
      <% elsif skill.name == "MVC pattern"%>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i class="far fa-star"></i></span>
      <% elsif skill.name == "iwork"%>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i class="far fa-star"></i></span>
      <%else%>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i id="icone-color"class="fas fa-star"></i></span>
        <span><i class="far fa-star"></i></span>
        <span><i class="far fa-star"></i></span>
     <% end %>
    </div>
  </div>
    <% end %>
  </div>
</div>

    <div class="center-text">
      <h2 id="title-h2"><%= t('langues') %></h2>
    </div>
    <hr id="border mt-3">

    <div class="row">
      <div class="col-md-6 mt-5">
        <div class="skills d-flex justify-content-between" >
          <span><%= t('french') %></span>
          <div class="stars">
            <span><i id="icone-color"class="fas fa-star"></i></span>
            <span><i id="icone-color"class="fas fa-star"></i></span>
            <span><i id="icone-color"class="fas fa-star"></i></span>
            <span><i id="icone-color"class="fas fa-star"></i></span>
            <span><i id="icone-color"class="fas fa-star"></i></span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="skills d-flex justify-content-between" >
     <span><%= t('english') %></span>
          <div class="stars">
            <span><i id="icone-color"class="fas fa-star"></i></span>
            <span><i id="icone-color"class="fas fa-star"></i></span>
            <span><i id="icone-color"class="fas fa-star"></i></span>
            <span><i id="icone-color"class="fas fa-star"></i></span>
            <span><i class="far fa-star"></i></span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="skills d-flex justify-content-between" >
     <span><%= t('thai') %></span>
          <div class="stars">
            <span><i id="icone-color"class="fas fa-star"></i></span>
            <span><i id="icone-color"class="fas fa-star"></i></span>
            <span><i class="far fa-star"></i></span>
            <span><i class="far fa-star"></i></span>
            <span><i class="far fa-star"></i></span>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="container-experience">

  <!---------------------Title Projets------------->
    <div class="experience-title center-text big-title">
      <h2 id="title-h2"><a id="project-typed-text"name="projects"></a></h2>

    </div>
      <hr id="border">
      <br>
      <br>

  <!---------------------education------------->
  <div class="d-flex justify-content-around">
    <div>
      <h4>skifind.fr</h4>
      <%= link_to "http://www.skifind.fr", class:"link-without-style", :target => "_blank" do %>
        <div class="card-project">
          <div class="features">RUBY ON RAILS</div>
          <div class="features">ES6</div>
          <div class="features">SEARCH BAR</div>
          <div class="features">MAPBOX</div>
        </div>
      <% end %>
    </div>
    <div>
      <h4>accessinnpattaya.com</h4>
      <%= link_to "http://www.accessinnpattaya.com", class:"link-without-style", :target => "_blank" do %>
        <div class="card-project-access">
          <div class="features">RUBY ON RAILS/ES6</div>
          <div class="features">BOOKING SYSTEM</div>
          <div class="features">PAYPAL/STRIPE</div>
          <div class="features">MAPBOX</div>
          <div class="features">POSTMARK</div>
          <div class="features">SWEETALERT</div>
          <div class="features">I18n TRANSLATION</div>
        </div>
      <% end %>
    </div>
  </div>
  <hr>
  <hr>

</div>


</div>
