<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>
      <meta name="description" content="<%= meta_description %>">

      <!-- Facebook Open Graph data -->
      <meta property="og:title" content="<%= meta_title %>" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="<%= request.original_url %>" />
      <meta property="og:image" content="<%= meta_image %>" />
      <meta property="og:description" content="<%= meta_description %>" />
      <meta property="og:site_name" content="<%= meta_title %>" />

      <!-- Twitter Card data -->
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
      <meta name="twitter:title" content="<%= meta_title %>">
      <meta name="twitter:description" content="<%= meta_description %>">
      <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
      <meta name="twitter:image:src" content="<%= meta_image %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <!-- Hotjar Tracking Code for http://www.amandyneverdonck.com -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:2028770,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <script type="text/javascript">
    function waitForElement(){
      if(typeof I18n !== "undefined"){
        I18n.default_locale = "<%= I18n.default_locale %>";
        I18n.locale = "<%= I18n.locale %>";
        I18n.translations = <%== I18n::JS.filtered_translations.to_json %>;
      }
      else{
        setTimeout(waitForElement, 10);
      }
    }
    waitForElement();
    </script>
  </head>
  <body>
    <%= render "shared/navbar" %>
    <%= yield %>
    <footer>
      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item ">
          <a class="btn-floating btn-fb mx-1 link-without-style" href="https://github.com/Amandynev" target="_blank">
            <i class="fab fa-github"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-li mx-1 link-without-style" href="https://www.linkedin.com/in/amandyne-verdonck-4125b750/"target="_blank">
            <i class="fab fa-linkedin-in"> </i>
          </a>
        </li>
      </ul>
      <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a class="link-without-style" href="http://www.amandyneverdonck.com"> amandyneverdonck.com</a>
      </div>
    </footer>
  </body>
</html>
