<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>
      <meta name="description" content="<%= meta_description %>">

      <!-- Facebook Open Graph data -->
      <meta property="og:title" content="<%= meta_title %>" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="<%= request.original_url %>" />
      <meta property="og:image" content="<%= meta_image %>" />
      <meta property="og:description" content="<%= meta_description %>" />
      <meta property="og:site_name" content="<%= meta_title %>" />

      <!-- Twitter Card data -->
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
      <meta name="twitter:title" content="<%= meta_title %>">
      <meta name="twitter:description" content="<%= meta_description %>">
      <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
      <meta name="twitter:image:src" content="<%= meta_image %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <nav class="navbar fixed-top ml-auto">
         <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
         </button> -->
          <!-- Toggler/collapsibe Button -->


        <ul class="navbar-nav">
          <li class="nav-item mb-3 d-flex justify-content-center">
              <div>
                <%= link_to "#profile", class:"link-without-style nav-link ml-3" do %>
                <i class="fas fa-female" style="font-size: 30px;"></i>
                <% end %>
              </div>
          </li>
          <li class="nav-item mb-3 d-flex justify-content-center">
            <div>
              <%= link_to "#experience",class:"link-without-style nav-link ml-3" do %>
                <i class="fas fa-briefcase"style="font-size: 30px;"></i>
              <% end %>
            </div>
          </li>
          <li class="nav-item mb-3 d-flex justify-content-center">

            <div>
              <%= link_to "#skills", class:"link-without-style nav-link ml-3" do%>
                <i class="fas fa-cogs"style="font-size: 30px;"></i>

              <%end%>
            </div>
          </li>
          <li class="nav-item mb-3 d-flex justify-content-center">

            <div>
              <%= link_to "#projects",class:"link-without-style nav-link ml-3" do%>
                <i class="fas fa-laptop"style="font-size: 30px;"></i>
              <%end%>
            </div>
          </li>
        </ul>

    </nav>



    <%= yield %>
  </body>
</html>
